@page "/admin/users/{UserId:int}"
@using Shearlegs.Web.Pages.Admin.UserPage.Components 

@if (User != null)
{
    <nav aria-label="breadcrumb mb-3">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">Admin</li>
            <li class="breadcrumb-item"><a href="/admin/users">Users</a></li>
            <li class="breadcrumb-item active">@User.Name</li>
        </ol>
    </nav>

    @if (isUpdated)
    {
        <Alert Background="success" Icon="bi bi-check2" Text="Successfully updated this user!" />
    }

    <div class="mb-3">
        <h4>User #@User.Id - @User.Name</h4>
    </div>

    <div class="card mb-3">
        <div class="card-header">
            Basic Information
        </div>
        <div class="card-body">
            <EditForm Model="Model" OnValidSubmit="UpdateUserAsync">
                <div class="mb-3">
                    <label class="form-label">Username</label>
                    <InputText @bind-Value="@Model.Name" class="form-control" disabled />
                    <div class="form-text">The username should be the size of 25 characters</div>
                </div>
                <div class="mb-3">
                    <label class="form-label">Role</label>
                    <InputSelect class="form-select" @bind-Value="@Model.Role">
                        @foreach (string role in RoleConstants.Roles)
                        {
                            <option value="@role">@role</option>
                        }
                    </InputSelect>
                </div>
                <div class="mb-3">
                    <label class="form-label">Authentication Type</label>
                    <InputSelect class="form-select" @bind-Value="@Model.AuthenticationType" disabled>
                        <option value="@Model.AuthenticationType">@Model.AuthenticationType</option>
                    </InputSelect>
                </div>

                @if (Model.AuthenticationType == AuthenticationConstants.DefaultAuthenticationType)
                {
                    <div class="mb-3">
                        <label class="form-label">Password (optional)</label>
                        <InputText type="password" @bind-Value="@Model.Password" class="form-control" />
                        <div class="form-text">The password must have above 8 characters</div>
                    </div>
                }
                @if (isLoading)
                {
                    <LoadingButton />
                }
                else
                {
                    <button type="submit" class="btn btn-primary">Save User</button>
                }

            </EditForm>
        </div>
    </div>

    <div class="card mb-3">
        <div class="card-header">
            Manage Plugins
        </div>
        <div class="card-body">
            <PluginsList User="User" />
        </div>
    </div>

    <div class="card mb-5">
        <div class="card-header">
            Activity
        </div>
        <div class="card-body">
            <div class="mb-3">
                <label class="form-label">Last Login Date</label>
                <input type="text" value="@User.LastLoginString" class="form-control" disabled />
            </div>

            <div class="mb-3">
                <label class="form-label">Create Date</label>
                <input type="text" value="@User.CreateDate" class="form-control" disabled />
            </div>
        </div>
    </div>

}
else
{
    <h4>User not found</h4>
}
