@page "/login"
@using Login.Layouts
@layout LoginLayout
@inject ConfigService Config

<main class="form-signin text-center">
    <img class="mb-2" src="@Config.IconPath" alt="" width="100" height="100">

    @if (Config.IsDefaultAuthEnabled)
    {
        <form action="signin" method="post">
            <h3 class="h3 mb-3 fw-normal">Login to continue</h3>

            @if (IsWrong)
            {
                <Alert Background="danger" Icon="bi bi-exclamation-circle-fill" Text="Wrong username or password." />
            }

            @if (Config.IsDemo)
            {
                <Alert Background="secondary">
                    <strong>Username:</strong> demo<br />
                    <strong>Password:</strong> demo2021
                </Alert>
            }

            <div class="form-floating">
                <input name="username" type="text" class="form-control" id="floatingInput" @bind="@LoginParams.Name" @bind:event="oninput" placeholder="Your username">
                <label for="floatingInput">Username</label>
            </div>
            <div class="form-floating">
                <input name="password" type="password" class="form-control" id="floatingPassword" @bind="@LoginParams.Password" @bind:event="oninput" placeholder="Your password">
                <label for="floatingPassword">Password</label>
            </div>

            <button class="w-100 btn btn-lg btn-primary" type="submit" disabled="@IsInvalid"><i class="bi bi-door-open"></i> Login</button>
        </form>
    }

    @if (Config.IsWindowsAuthEnabled && UserService.IsWindowsAuthType)
    {
        if (Config.IsDefaultAuthEnabled)
        {
            <h3 class="h3 mb-3 fw-normal mt-2">or</h3>
        }

        <form action="windowsauth" method="post">
            <button class="w-100 btn btn-lg btn-primary" type="submit"><i class="fab fa-windows"></i> @UserService.Username</button>
        </form>
    }

    <p class="mt-5 mb-3 text-muted">&copy; 2020-@DateTime.UtcNow.Year</p>

</main>
