@page "/developer/upload"

<nav aria-label="breadcrumb mb-3">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">Developer</li>
        <li class="breadcrumb-item active" aria-current="page">Upload</li>
    </ol>
</nav>

@if (IsValid)
{
    <div class="card mb-3">
        <div class="card-header">
            @PluginInfo.PackageId - @PluginInfo.Version
        </div>
        <div class="card-body">
            <p>Parameters</p>
            <ul>
                @foreach (var parameter in PluginInfo.Parameters)
                {
                    <li>@parameter.Name (@parameter.Type.Name) - @parameter.Description</li>
                }

            </ul>
            @if (!isLoading2)
            {
                <button class="btn btn-primary" @onclick="UploadVersionAsync">Upload Version</button>
            } else
            {
                <LoadingButton />
            }
            
        </div>
    </div>
}
else
{
    @if (PluginInfo != null && Plugin == null)
    {
        <Alert Background="danger" Icon="bi bi-exclamation-triangle-fill">
            PackageId <strong>@PluginInfo.PackageId</strong> does not exist in Plugins
        </Alert>
    } else if (IsDuplicateVersion)
    {
        <Alert Background="danger" Icon="bi bi-exclamation-triangle-fill">
            Plugin <strong>@Plugin.PackageId</strong> already has version <strong>@PluginInfo.Version</strong>
        </Alert>
    } else if (Version != null)
    {
        <Alert Background="success" Icon="bi bi-check2">
            <strong>@Version.Plugin.PackageId @Version.Name</strong> successfully uploaded
        </Alert>
    }

    <div class="card mb-3">
        <div class="card-header">
            Information
        </div>
        <div class="card-body">
            <p>Select plugin NuGet package file in the input</p>
        </div>
    </div>

    <div class="mb-3">

        @if (!isLoading)
        {
            <label class="form-label">NuGet Package file</label>
            <InputFile class="form-control form-control-lg" OnChange="OnInputFileChange" accept=".nupkg" />
        }
        else
        {
            <span class="fw-bold">Loading Package...</span>
            <LoadingBar />
        }

    </div>
}
