@if (isInvalid)
{
    <Alert Background="danger" Icon="bi bi-exclamation-triangle-fill">
        <strong>Name</strong> and <strong>Value</strong> fields are required
    </Alert>
}
else if (isDuplicate)
{
    <Alert Background="danger" Icon="bi bi-exclamation-triangle-fill">
        Secret with the name <strong>@SecretModel.Name</strong> already exists
    </Alert>
}
else if (isSuccess)
{
    <Alert Background="success" Icon="bi bi-check2">
        <strong>@AddedSecret.Name</strong> successfully added
    </Alert>
}
else if (isDeleted)
{
    <Alert Background="success" Icon="bi bi-check2">
        <strong>@DeletedSecret.Name</strong> successfully deleted
    </Alert>
}

<table class="table table-bordered">
    <thead>
        <tr class="bg-light">
            <th>Name</th>
            <th>Value</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <Virtualize Items="Secrets" Context="secret">
            <tr>
                <td class="fw-bold">@secret.Name</td>
                <td>@secret.Value</td>
                <td>
                    <button class="btn btn-sm btn-outline-danger" @onclick="() => DeleteSecretAsync(secret)">
                        <i class="bi bi-trash-fill"></i>
                    </button>
                </td>
            </tr>
        </Virtualize>
        <tr>
            <td>
                <input class="form-control" @bind="SecretModel.Name" required />
            </td>
            <td>
                <input class="form-control" @bind="SecretModel.Value" required />
            </td>
            <td>
                <button class="btn btn-sm btn-outline-primary" @onclick="AddSecretAsync">
                    <i class="bi bi-plus-circle-fill"></i>
                </button>
            </td>
        </tr>
    </tbody>
</table>
