@page "/"


@if (Results != null)
{
    <div class="mb-5 card">
        <div class="card-header fw-bold">
            Last Results
        </div>
        <div class="card-body">
            @if (Results.Count() > 0)
            {
                <div class="tableFixHead" style="max-height: 350px;">
                    <table class="table table-hover table-bordered">
                        <thead>
                            <tr class="bg-light">
                                <th>Task</th>
                                <th>Type</th>
                                <th>Execute Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            <Virtualize Items="FilteredResults" Context="result" OverscanCount="50">
                                <tr style="cursor: pointer;" @onclick="() => GoToResult(result)">
                                    <td>@result.Version.Plugin.Name</td>
                                    <td><ResultText ResultType="@result.ResultType" /></td>
                                    <td>@result.CreateDate</td>
                                </tr>
                            </Virtualize>
                        </tbody>
                    </table>
                </div>
            }
            else
            {
                <p class="text-muted">You don't have any results yet</p>
            }
        </div>
        @if (Results.Count() > 0)
        {
            <div class="card-footer">
                Total Results: @Results.Count()
            </div>
        } 
        
        
    </div>
}



<div class="d-md-flex align-items-center mb-3">
    <div class="me-auto">
        <h4>Execution Tasks</h4>
    </div>
    <div>
        <div class="input-group">
            <span class="input-group-text" id="basic-addon1">Search</span>
            <input type="text" @bind="searchString" @bind:event="oninput" class="form-control" placeholder="Name or ID" />
        </div>

    </div>
</div>

@if (Plugins != null)
{
    <table class="table table-light table-hover mb-3">
        <caption>Total Execution Tasks: @SearchedPlugins.Count()</caption>
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
            </tr>
        </thead>
        <tbody>
            <Virtualize Items="SearchedPlugins" Context="plugin">
                <tr style="cursor: pointer;" @onclick="() => GoToPlugin(plugin)">
                    <td>@plugin.Name</td>
                    <td>@plugin.Description</td>
                </tr>
            </Virtualize>
        </tbody>
    </table>
}